@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: var(--font);
}

:root {
  --cor1: #6e5c97;
  --cor2: #3f3557;
  --cor3: #a58ae3;
  --cor4: #7764a4;
  --cor5: #5b4c7d;
  --font: "Nunito Sans", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr 5fr;
  background-color: var(--cor2);
  box-shadow: 0px 5px 10px var(--cor3);
  align-items: center;
}

nav {
  margin: auto;
}

.nav-bar {
  padding: 1.5rem;
  height: 70px;
}

.nav-item {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: white;
  font-weight: 400;
  display: flex;
}

.menu {
  display: grid;
  padding: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  list-style: none;
}

#logo {
  margin: 2rem;
  height: 4rem;
}


.grid-container {
  margin: 0 0 -4rem 0;
  gap: 1.5rem;
  padding: 1.5rem;
  display: grid;
}

.grid-item {
  border: 0.1rem solid var(--cor3);
  border-radius: 0.25rem;
  padding: 1rem;
  font-family: var(--font);
}

.folha-pdf {
  width: 70%;
  margin: 0 auto;
  padding: 5% 1% 5% 1%;
  line-height: 1.5;
}

/*.folha-pdf {
    width: 45%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 3cm 2cm 2cm 3cm;
    line-height: 1.5;
  } */

.titulo1 {
  font-size: 21pt;
  padding-bottom: 1.5;
  text-align: center;
}

.titulo2 {
  font-size: 19pt;
  padding-top: 1.5;
  padding-bottom: 20px;
  text-align: center;
}

.p-simples {
  line-height: 1.5;
  font-size: 13pt;
  text-indent: 1cm;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.p-referencia {
  line-height: 1.5;
  font-size: 13pt;
  text-indent: 0cm;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

#tituloprincipal {
  color: white;
}

#cortitulo2 {
  color: white;
}

/*.menu-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 70px 0 0 10%;
}*/

.topicos {
  padding: 1.5rem;
}

.cortitulo {
  color: var(--cor2);
  text-decoration: none;
}

.footer {
  background-color: var(--cor2);
  color: #fff;
  text-align: center;
  margin-top: 11.5rem;
  padding: 1.5rem;
  font-family: var(--font);
}

@media screen and (max-width: 768px) {
  #logo {
    margin: 1rem;
    height: 2.5rem;
    display: block;
  }

  #tituloprincipal {
    font-size: 1rem;
  }

  header {
    width: 87%;
  }

  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }

  .nav-link {
    display: none;
  }

  .folha-pdf {
    width: 100%;
    margin: auto;
    padding: 1cm 0 0 0;
    line-height: 1.5;
  }

  .titulo1 {
    font-size: 12pt;
    padding-bottom: 1.5;
    text-align: center;
  }

  .titulo2 {
    font-size: 12pt;
    padding-top: 1.5;
    padding-bottom: 20px;
    text-align: center;
  }

  .p-simples {
    font-size: 12pt;
  }

  .p-referencia {
    font-size: 12pt;
  }
  .footer {
    display: block;
    margin-top: 6rem;
    padding: 1.5rem;
    position: absolute;
  }

  .container {
    display: flex;
    margin: -12px -3px 0 0;
  }
  
  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }
  
  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 1.5rem;
    width: 1rem;
  }
  
  label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 155%;
    border-radius: 30px;
    background: white;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1) {
    top: 0;
  }
  label span:nth-child(2) {
    top: 0.5rem;
  }
  label span:nth-child(3) {
    top: 1rem;
  }
  
  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 0.5rem;
  }
  
  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 0.5rem;
  }

  .grid-container{
    margin: 0 0 -4rem 0;
    gap: 1.5rem;
    padding: 1.5rem;
    display: grid;
  }

  .grid-item {
    border: 0.1rem solid var(--cor3);
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: var(--font);
    
  }

}

@media screen and (max-width: 830px) {
  .folha-pdf {
    width: 70%;
    margin: 0 auto;
    padding: 10% 20% 1% 1%;
    line-height: 1.5;
  }
  .titulo1 {
    font-size: 12pt;
    padding-bottom: 1.5;
    text-align: center;
  }

  .titulo2 {
    font-size: 12pt;
    padding-top: 1.5;
    padding-bottom: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: right;
  }
  
  #checkbox-menu {
    position: absolute;
    opacity: 0;
  }
  
  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 1.5rem;
    width: 1rem;
  }
  
  label span {
    position: absolute;
    display: block;
    height: 4px;
    width: 155%;
    border-radius: 30px;
    background: white;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1) {
    top: 0;
  }
  label span:nth-child(2) {
    top: 0.5rem;
  }
  label span:nth-child(3) {
    top: 1rem;
  }
  
  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 0.5rem;
  }
  
  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 0.5rem;
  }
}
